.button {
  color: #ffff;
  background-color: green;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: opacity 0.2s ease-in;

  &:active {
    background-color: #456845;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.link {
  color: black;
  font-family: "RobotBold";
  font-weight: 900;
  border-bottom: 1px solid black;
  cursor: pointer;
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
