@import "mixins.scss";

.form {
  border-top: 2px solid green;
  font-family: "RobotoMedium";
  margin: 3rem auto;
  width: 50%;
  background-color: white;
  padding: 2rem;

  @include breakpoint(mobileonly) {
    width: 100%;
  }

  input {
    outline: none;
  }

  input[type="checkbox"] {
    filter: hue-rotate(200deg);
  }

  &__title {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  &__field {
    padding: 0.5rem;
  }

  &__error {
    opacity: 0;
    font-size: 0.8rem;

    &--active {
      color: #ff3855;
      opacity: 1;
    }
  }

  &__link {
    text-align: center;
  }
}
