$spacings: (0, 1, 2, 5, 7, 10, 12);

.vertical {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.bold {
  font-family: "RobotBold";
  font-weight: 900;
}

@each $spacing in $spacings {
  .m-#{$spacing} {
    margin: #{$spacing} + px;
  }

  .m-x-#{$spacing} {
    margin-left: #{$spacing} + px;
    margin-right: #{$spacing} + px;
  }

  .m-y-#{$spacing} {
    margin-top: #{$spacing} + px;
    margin-bottom: #{$spacing} + px;
  }
}
