@import "form.scss";
@import "utilities.scss";
@import "common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("../assets/fonts/Roboto-Medium.ttf") format("truetype");

  font-family: "RobotoBold";
  src: local("RobotBold"),
    url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
